*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $color-dark;
  color: $color-light;
  font-size: 14px;
  font-family: $font-main;
}

.main-container {
  max-width: 1140px;
  margin: 0 auto;
  height: 200vh;
}

.hero {
  height: 100vh;
  position: relative;
  background-image: url('../../images/background.jpg');
  background-position: center center;
  background-size: cover;
}

.hero-inner {
  position: absolute;
  display: inline-block;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);

  h1 {
    letter-spacing: $letter-spacing-wide;
    margin-right: -$letter-spacing-wide;
  }

  h3 {
    text-align: right;
    letter-spacing: $letter-spacing-narrow;
    margin-right: -$letter-spacing-narrow;
  }
}

.menu {
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: 2 * $base-size;

  a {
    text-decoration: none;
    margin-right: 4 * $base-size;
    font-size: 18px;
    font-weight: 600;
    color: $color-light;
    letter-spacing: 0.05em;

    &:last-of-type {
      margin-right: 0;
    }
  }


}

.content {
  //border: 2px solid white;
  /*position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-50%);*/
  position: relative;

  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

[class*="about-section-"] {
  img {
    width: 200px;
    height: 100px;
  }
}

.footer {
  text-align: center;
  margin-top: 90vh;
}