*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $color-dark;
  color: $color-light;
  font-size: 14px;
  font-family: $font-main;
}

.main-container {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}

.hero {
  height: 100vh;
  position: relative;
  background-image: url('../../images/background.jpg');
  background-position: center center;
  background-size: cover;
}

.hero-inner {
  position: absolute;
  display: inline-block;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);

  h1 {
    letter-spacing: 0.8em;
    margin-right: -0.8em;
  }

  h3 {
    text-align: right;
    letter-spacing: 0.5em;
    margin-right: -0.5em;
  }
}

.menu {
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: 25px;
  z-index: 100;

  a {
    text-decoration: none;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 600;
    color: $color-light;
    letter-spacing: 0.05em;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.content {
  position: absolute;
  top: 50vh;
  width: 100%;

  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

.footer {
  display: block;
  height: 10vh;
  text-align: center;

  h5 {
    margin-top: 7vh;
  }
}