$color-dark: #131313;
$color-light: #fff;
$color-main: #c24e00;
$color-shortest-path: #2ecc71;
$color-start-finish: #e74c3c;
$color-hint: #00f;

$font-main: 'Source Sans Pro', sans-serif;

$grid-cell-size: 50px;
$grid-border: 2px solid $color-light;