$color-dark: #131313;
$color-light: #fff;
$color-main: #c24e00;
$color-shortest-path: #2ecc71;
$color-start-finish: #e74c3c;
$color-possible-mark: #00f;

$font-main: 'Source Sans Pro', sans-serif;

$base-size: 12px;

$grid-cell-size: 4 * $base-size;
$grid-border: 1.5px solid $color-light;

$letter-spacing-wide: 0.8em;
$letter-spacing-narrow: 0.5em;

